.sui-layout-sidebar {
  width: 0px !important;
}

.sui-facet__title,
.sui-facet__count {
  display: none;
}
.sui-layout-main {
  width: 100% !important;
  padding: 0 !important;
}
ul li {
  float: left;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

svg * {
  fill: #f3a4af;
}

.wp-caption {
  box-shadow: none !important;
}

.rh-outer-wrap,
.sui-layout-body:after {
  background-color: #79b6b7 !important;
}

.sui-layout-body:after {
  background: #79b6b7 !important;
}

.MuiButtonBase-root {
  margin-bottom: 10px !important;
}

.sui-single-option-facet__item * {
  color: white !important;
  font-size: 12px;
}
A:empty {
  display: none;
}

A:empty span {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #4bbcd3;
}

ul li {
  display: inline;
  border: 4px solid #4bbcd3;
  background-color: #4bbcd3;
  margin: 4px;
  border-radius: 25px;
}

ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
  color: #fff;
  background-color: #4bbcd3;
}

ul li a:hover {
  color: #fff;
  background-color: #4bbcd3;
}
.MuiButton-root:first-of-type {
  margin-right: 50px !important;
}

.MuiButton-root * {
  color: white !important;
}

html,
.sui-layout-body {
  background-color: #79b6b7 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  color: black !important;
}

.clearfilters-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .sui-facet + .sui-facet {
  margin-top: 0 !important;
} */

.sui-search-box__submit {
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background: #f3a4af !important;
  color: white !important;
}
.MuiButton-sizeSmall span {
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: black;
}

.MuiCardContent-root {
  height: 120px;
}
.MuiTypography-h5 {
  font-size: 1rem !important;
}
.MuiCardActions-root {
  position: absolute !important;
  bottom: -460px;
  top: 0;
  left: 0;
  right: 0;
}

.MuiGrid-item {
  position: relative;
}

.loader {
  position: "fixed";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
